SECRET_KEY=my_secret_key_for_codeground
SECRET_KEY_AUTH=my_secret_key_auth_for_codeground
DB_HOST=192.168.82.76
DB_PORT=5432
DB_USER=codegrounduser
DB_PASSWORD=team_aksdbdlsfur
DB_NAME=codegrounddb
REDIS_HOST=localhost
REDIS_PORT=6379
ONLINE_JUDGE_HOST_ENDPOINT=http://localhost:8000/execute_v4
ENV=DEV